/*------------------------ COLORS ---------------------*/

/* ----- Page Inscription ----- */

$link: #444;
$backgroundRegister: #F0EDEE;
$cLabel: #00657C;
$firstLetter: #FF9A83;
$borderInput: 0.1em solid #896978;

/* ------ Page other ----- */